<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" href="{{ url_for('favicon') }}">
    <!-- Bootstrap CSS -->
    <!-- if you have the bootstrap files downloaded you can reference the css folder here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS  -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- jquery which supports IE -->
    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    
    <title>About Genedalph</title>

    </head>
    <!-- Inserting the Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{  url_for('home') }}">Genedalph</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{  url_for('home') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{  url_for('about') }}">About</a>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0" method= "POST">
            <input class="form-control mr-sm-2" id="lncSep" type="text" placeholder="lncRNA , cell line" name="comma_sep" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
    <!-- autocomplete for the nav bar -->
    <!-- <script type="text/javascript">
    (function($) {
      $('#lncSep').autocomplete({
        source:function(request, response) {
          $.getJSON("{{ url_for('autocomplete') }}", {
              autocomplete: request.term, 
            }, function(data) {
              response(data.json_list);
            });
          }, 
          minLength: 1, 
          select: function(event, ui) {
            console.log(ui.item.value);
          }
        });
      }(jQuery))
    </script> -->
    <style>

    body {
      font-family: Ubuntu;
    }
    </style>

<!-- BODY STARTS HERE ############################################################ -->
<!-- 1) Table 2)clouds 3) button bar 4) Graph -->
   <body style="margin:15;padding:15">
    <div id="container">
        <h2><br/>Genedalph is a web-tool dedicated to annotating long non-coding RNAs (lncRNAs) with functions<hr/></h2>
        <p>
            Traditionally, lncRNAs have been viewed as genetic “junk”, but we are now seeing their influence increase
            in neurological diseases, cancer, and heart disease. Yet, our understanding of lncRNA functional annotations 
            is limited, and the reporting of these functional annotations are not easily accessible to experimentalists 
            and health professionals. 
        </p>
        <p>
            Thereby, it is of the utmost importance to observe which genetic elements are dysregulated in the absence of
             a lncRNA, which can give further insights into understanding the functional composition and an overall break 
             down of role of lncRNAs in cellular mechanisms. 
        </p>
        <p>
            Genedalph accomplishes functional annotation by hosting specially curated RNA-seq data from lncRNA knock down 
            experiments, querying the most up to date pathway databases with the Gprofiler API, and providing a visualization 
            of the different functional terms. Currently we host 43 different lncRNAs across 14 different human cell lines, 
            which affects a total 32,674 unique genes.
        </p>
        <p>
            We designed the database to be extremely simple to query differentially expressed genes across different cell 
            lines, and made it simple to add future records of lncRNAs. If you don’t see a lncRNA you would like to see 
            annotated: please contact us by sending a link of the paper of interest with RNA-seq data available. 
        </p>
    </div>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    

  </body>
</html> 

