<html>

  <head>
    <meta charset="utf-8">
    <title> Gprofiler Javascript test</title>
    <!-- located in the "static" file -->
    <script src="static/biojs-vis-gprofiler/build/biojsvisgprofiler.min.js"></script>
    <script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(e) {
        gp = new biojsVisGprofiler({
          container : "#myContainer",
          width     : 600,
          height    : 600,
        });
      
        gp.on("onrender", function() {
          console.log("caught render event");
          // console.log(genes_up[0]);
        });
        
        // flatten the data 
        var genes_up = {{ genes_up|tojson }};
        // var dato = genes_up[0]; just gets one
        var commasep = genes_up.join(",");
        // console.log(commasep);
        // THIS is the one that works 
        var up_array = commasep.split(',');

        var str_result = '\[\"' + commasep.split(',').join('\",\"') + '\"\]';
        // console.log(up_array);
        
        // var serialized_up = JSON.stringify(gene_up_list);

        gp.render({
        // query   : gene_up_list,
        query : up_array, 
        organism: "hsapiens",
        srcFilter: ["GO:MF","GO:CC","GO:BP","KEGG","REAC","WP"],
        correctionMethod: "bonferroni", 
        userThreshold: 1e-8
      });
      
      gOST = gp.getGProfiler({});
    

    // unfortunately this makes too big of a url 
    var urlQuery = gOST.getQueryURL({
        query   : up_array,
        organism: "hsapiens",
        srcFilter: ["GO:MF","GO:CC","GO:BP","KEGG","REAC","WP"],
        correctionMethod: "bonferroni", 
        userThreshold: 1e-8
      });
      // console.log('https://biit.cs.ut.ee/gprofiler/gost/?organism=hsapiens&all_results=false&ordered=false&no_iea=false&measure_underrepresentation=false&significance_threshold_method=bonferroni&domain_scope=annotated&sources=GO%3AMF%2CGO%3ACC%2CGO%3ABP%2CKEGG%2CREAC%2CWP&no_evidences=true&user_threshold=1e-8');
      console.log(urlQuery);

      //function visitPage(){
      //  if( urlQuery == "null"){
      //    window.location.href = "https://biit.cs.ut.ee/gprofiler/gost/?organism=hsapiens&all_results=false&ordered=false&no_iea=false&measure_underrepresentation=false&significance_threshold_method=bonferroni&domain_scope=annotated&sources=GO%3AMF%2CGO%3ACC%2CGO%3ABP%2CKEGG%2CREAC%2CWP&no_evidences=true&user_threshold=1e-8";
      //  } else{
      //    window.location.href = urlQuery;
      //  }
      //}

    });

    </script>
  </head>
  <body>
    
    <p>Here is an example using g:Profilers word cloud api</p>
     
    <div id="myContainer">
      <!-- add a button to download a line separated list -->
      <button target="_blank" onclick="window.open('https://biit.cs.ut.ee/gprofiler/gost/?organism=hsapiens&all_results=false&ordered=false&no_iea=false&measure_underrepresentation=false&significance_threshold_method=bonferroni&domain_scope=annotated&sources=GO%3AMF%2CGO%3ACC%2CGO%3ABP%2CKEGG%2CREAC%2CWP&no_evidences=true&user_threshold=1e-8');">Visit Gprofiler for extensive reults for queried genes</button>
      <input type="button" id="dwn-btn" value="Download query list of up regulated genes"/>
      <script>
          function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);
        
            element.style.display = 'none';
            document.body.appendChild(element);
        
            element.click();
        
            document.body.removeChild(element);
        }
        
        // Start file download.
        document.getElementById("dwn-btn").addEventListener("click", function(){
            // Generate download of hello.txt file with some content
            var text = "And blood-black nothingness began to spin... A system of cells interlinked within cells interlinked within cells interlinked within one stem... And dreadfully distinct against the dark, a tall white fountain played.";
            //document.getElementById("text-val").value;
            var filename = "genes-up.txt";
            // newline sep the data 
            var genes_up = {{ genes_up|tojson }};
            var newsep = genes_up.join("\n");
            // var up_array = commasep.split('\n');

            download(filename, newsep);
        }, false);
      </script>
    </div>
  </body>
</html>