<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <!-- if you have the bootstrap files downloaded you can reference the css folder here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--  jquery and ajax-->
  <!-- <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script> -->
  
  <!-- jquery which supports IE -->
  <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<style>
body {
  font-family: Ubuntu;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>

<!-- Inserting the Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{  url_for('home') }}">Genedalph</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{  url_for('home') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method= "POST">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="lncRNA_name" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<body>
<h1>
  
</h1>
<h2>
    <center>Search lncRNAs</center>
</h2>

<!-- Autocomplete form -->
<div>
<form id="autocomplete" method= "POST" action="" class="example" style="margin:auto;max-width:300px">
  <input id="lncSep" type="text" placeholder="lncRNA , cell line" name="lncRNA_name">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
</div>

<script type="text/javascript">
$(function() {
  $('#lncSep').autocomplete({
    source:function(request, response) {
      $.getJSON("{{ url_for('autocomplete') }}", {
        autocomplete: request.term, 
      }, function(data) {
        response(data.json_list);
      });
    }, 
    minLength: 1, 
    select: function(event, ui) {
      console.log(ui.item.value);
    }
  });
});
</script>


<center>
  <div class="container">
    <h4> Search for any of the lncRNA experiments currently available </h4>
      <table class="table-striped table-hover table-condensed">
          <tr>
            <th> lncRNA  </th>
            <th> cell line </th>
          </tr>
          {% for row in home_table %}
        <tr>
          <td> {{row[0]}} </td>
          <td> {{row[1]}} </td>
        </tr>
        {% endfor %}         
       </table>
  </div>
    <pre>
        ,---.
        /    |
       /     |
      /      |
     /       |
___,'        |
  -'          :
`-.__..--'``-,_\_
  |o/ ` :O.)_`>
  :/ `     ||/)
  (_.).__,-` |\
  /( `.``   `| :
  \'`-.)  `  ; ;
   \________/ 
    </pre>
</center>
</body>
</html>